.cards {
   min-height: 70vh;
   padding: 60px 20px;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   flex-wrap: wrap;

   .card {
      min-width: 300px;
      height: 350px;

      padding: 0 10px;
      
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      
      .card--text {
         text-align: center;
         line-height: 2rem;

      }
      



      &--cta {
         @include cta-style(150px, 50px);
         border-radius: 25px;
         background-color: red;

         a {
            text-decoration: none;
            color: white;
         }

         &:hover {
            @include cta-hover
         }
      }
   }
}