.cards {
   min-height: 70vh;
   padding: 60px 20px;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   flex-wrap: wrap;

   .card {
      max-width: 360px;
      height: 350px;

      padding: 0 10px;
      
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;


      
      
      .card--text {
         text-align: center;
         line-height: 2rem;

      }
      



      .arrow--redirect {
         color: white;
         padding: 10px 20px;

         &:hover {
            transform: scale(1.3);
            transition-duration: 0.3s;
         }
      }
   }
}