.description {
   color: black;
   position: relative;
   height: 85vh;
   background-color: white;
   background-image: url(../img/carousel-background.svg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: right;
   animation: background-lol 20s ease-in-out infinite alternate;

   &--carousel {
      overflow-x: hidden;
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;

      .slide {
         position: absolute;
         height: 100%;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;

         padding: 0 30px;

         h1 {
            text-align: center;
            font-size: clamp(2rem, 7vw, 3rem);;
         }
      }
   }

   &--cta {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);

      border: none;
      border-radius: 25px;
      background-color: red;

      @include cta-style(200px, 50px);

      a {
         text-decoration: none;
         color: white;
      }

      &:hover {
         @include cta-hover;
      }

   }
}


@keyframes background-lol {
   0% {
      background-size: 150%;
   }

   100% {
      background-size: 300% ;
   }
}