@mixin cta-style($width, $height) {
   width: $width;
   height: $height;

   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin cta-hover {
   cursor: pointer;
   background-color: orangered;
   transition-duration: 0.5s;
}